.parent_container{
    min-height: 100vh;
    width: 100vw;
    background-color: #e9e9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

body{
    margin: 0;
    padding: 0;
}

.left_panel_container{
    width: 90%;
    min-height: 100vh;
    background-color: #f9f7f7;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(90, 100, 180, 0.3);
    margin-top: 20px;
    border-radius: 10px;

}

.category{
    width: 90%;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(50deg, #1c2894, #6A7CFF);
    color: white;
    box-shadow: 0 5px 15px rgba(90, 100, 180, 0.3);
}

.data_entry_container{
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 5px 15px rgba(90, 100, 180, 0.3);
    border-radius: 10px;
}

.header_text{
    width: 85%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    border-bottom: 1px solid #c5c3c3;

}

.data_input_container {
    width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
}

.data_input_container label{
    margin: 0;
    padding: 0;
}

.input{
    width:85%;
    height:30px;
    border-radius:5px;
    border: 1px solid #cfcdcd;
    margin: 0;
    padding: 0;
}

.next_container{
    width: 55%;
    height: 35px;
    background: linear-gradient(50deg, #1c2894, #6A7CFF);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.cv_container{
    width: 90%;
    min-height: 100vh;
    border: 1px solid black;
    background-color: white;
}