.parent_container{
    min-height: 100vh;
    width: 100vw;
    background-color: #e9e9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

body{
    margin: 0;
    padding: 0;
}

.left_panel_container{
    width: 90%;
    min-height: 100vh;
    background-color: #f9f7f7;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(90, 100, 180, 0.3);
    margin-top: 20px;
    border-radius: 10px;

}

.category{
    width: 90%;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(50deg, #1c2894, #6A7CFF);
    color: white;
    box-shadow: 0 5px 15px rgba(90, 100, 180, 0.3);
}

.data_entry_container{
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 5px 15px rgba(90, 100, 180, 0.3);
    border-radius: 10px;
}

.header_text{
    width: 85%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    border-bottom: 1px solid #c5c3c3;

}

.data_input_container {
    width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
}

.data_input_container label{
    margin: 0;
    padding: 0;
}

.input{
    width:85%;
    height:30px;
    border-radius:5px;
    border: 1px solid #cfcdcd;
    margin: 0;
    padding: 0;
}

.next_container{
    width: 55%;
    height: 35px;
    background: linear-gradient(50deg, #1c2894, #6A7CFF);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.cv_container{
    width: 90%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.profile_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 25%;
}

.profile_pic_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 65%;
    border-radius: 1000px;
}

.profile_pic_container img{
    height: 100%;
    width: 100%;
}

.profile_name_container{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 60%;
    flex-direction: column;
    border-bottom: 1px solid #cacaca;
    margin-left: 10px;
    margin-top: -20px;
}

.profile_name_container p{
    margin:2px;

}

.cv_category_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
}

.cv_category{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 30%;
    flex-direction: column;
    border: 1px solid black;
}

.header_container{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    height: 20%;
    background-color: #e9e9fb;
    border-radius: 5px;
    font-weight: bold;
}

.contact_container{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 80%;
    height: 80%;
    flex-direction: column;
    gap:10px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: 20%;
    gap: 10px;
    font-size: 13px;
    margin-left: 5px;
}

.experience_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 40%;
    border: 1px solid black;
}

.experience_text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 40%;
    border: 1px solid red;
}